- name: Add GPG keys
  apt_key:
    keyring: '{{ item.keyring }}'
    url: '{{ item.url }}'
  loop:
    - keyring: /etc/apt/trusted.gpg.d/google.gpg
      url: https://dl-ssl.google.com/linux/linux_signing_key.pub
- name: Add package repositories
  apt_repository:
    filename: '{{ item.filename }}'
    repo: '{{ item.repo }}'
  loop:
    - filename: keepass
      repo: ppa:jtaylor/keepass

    - filename: google-drive-ocamlfuse
      repo: ppa:alessandro-strada/ppa

    - filename: google-chrome
      repo: deb [arch={{ arch }}] http://dl.google.com/linux/chrome/deb/ stable main

    - filename: libreoffice
      repo: ppa:libreoffice/libreoffice-still
